:root {
  /* Colors */
  --theme-color: #283593;
  --sub-theme-color: #5f5fc4;

  --color-blue: #283593;
  --color-light-blue: #5f5fc4;

  --color-yellow: #f9a825;
  --color-light-yellow: #ffd95a;

  --color-white: white;
  --color-dark-white: #e0e0e0;
  --color-red: #b71c1c;
  --color-black: black;
  --color-gray: gray;

  /* Animation */
  --animation-duration: 500ms;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  background-color: var(--theme-color);
  transition: var(--animation-duration);
}

body::-webkit-scrollbar {
  display: none;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent !important;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.list-title {
  display: flex;
  line-height: 30px;
}

.list-title__text {
  font-size: 30px;
  font-weight: bolder;
  color: var(--sub-theme-color);
  width: 95px;
  transition: var(--animation-duration);
}

.list-title__list {
  font-size: 28px;
  color: var(--color-white);
}

.today-date {
  color: var(--color-white);
}

.contents {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
}

.input__container {
  position: relative;
  margin-top: 20px;
}

.new-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 58%;
}

.input__item {
  width: 100%;
  height: 45px;
  border: 1.5px solid var(--color-dark-white);
  border-radius: 22px;
  outline: none;
  font-size: 18px;
  padding-left: 18px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.input__item::placeholder {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: var(--color-dark-white);
}

.add-btn {
  position: absolute;
  right: 8px;
}

.add-icon {
  transform: rotate(45deg);
  color: var(--theme-color);
  font-size: 30px;
  transition: var(--animation-duration);
}

.items {
  height: 500px;
  width: 100%;
  padding: 20px 10px;
  margin: 0;
  overflow: scroll;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  font-size: 18px;
  padding: 0 12px 0 18px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 15px var(--color-dark-white);
  transition: var(--animation-duration);
}

.item .blur {
  opacity: 0.3;
}

.item-footer {
  display: flex;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--color-gray);
  margin-right: 10px;
  line-height: 16px;
}

.item-date {
  font-size: 12px;
}

.item-time {
  font-size: 16px;
}

.item-btns {
  display: flex;
  align-items: center;
}

.check-btn {
  transition: all 100ms linear;
  color: var(--color-dark-white);
}

.checked {
  color: var(--theme-color);
}

.check-icon {
  font-size: 25px;
  padding: 2px;
  transition: var(--animation-duration);
}

.delete-btn {
  color: var(--color-red);
}

.delete-icon {
  font-size: 25px;
  padding: 2px;
}

.navigation {
  position: absolute;
  width: 150px;
  top: 90px;
  right: 0;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.navigation ul li {
  position: relative;
  width: 55px;
  height: 55px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-icon {
  position: relative;
  line-height: 55px;
  font-size: 1.5em;
  text-align: center;
  color: var(--color-black);
  transition: var(--animation-duration);
  z-index: 2;
}

.do-icon {
  color: var(--color-blue);
}

.buy-icon {
  color: var(--color-yellow);
}

.navigation ul li.active a .nav-icon {
  transform: translateY(-44px);
  color: var(--color-white);
}

.nav-text {
  position: absolute;
  color: var(--color-black);
  font-size: 1.3em;
  font-weight: bolder;
  letter-spacing: 0.03em;
  transform: translateY(20px);
  transition: var(--animation-duration);
  opacity: 0;
}

.do-text {
  color: var(--color-blue);
}

.buy-text {
  color: var(--color-yellow);
}

.navigation ul li.active a .nav-text {
  opacity: 1;
  transform: translateY(0);
}

.indicator {
  position: absolute;
  left: 8.5px;
  top: -40%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 6px solid var(--theme-color);
  z-index: 1;
  transition: var(--animation-duration);
}

.indicator::before {
  content: '';
  position: absolute;
  top: 54%;
  left: -17.5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border-top-right-radius: 15px;
  box-shadow: 0px -6px 0 0 var(--theme-color);
  transition: var(--animation-duration);
}

.indicator::after {
  content: '';
  position: absolute;
  top: 54%;
  right: -17.5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border-top-left-radius: 15px;
  box-shadow: 0px -6px 0 0 var(--theme-color);
  transition: var(--animation-duration);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(69px * 0));
  background-color: var(--color-light-blue);
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(69px * 1));
  background-color: var(--color-light-yellow);
}

.moving-up {
  animation: movingUp var(--animation-duration) ease;
}

.moving-down {
  animation: movingDown var(--animation-duration) ease;
}

.vanish {
  animation: vanish var(--animation-duration) ease;
}

@keyframes movingDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes movingUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
